.img-logo {
    max-height: 150px; /* можно убрать, если вообще не хочешь ограничения */
    height: auto;
    width: auto;
    object-fit: contain;
  }
  .img-logo {
    max-height: 150px; /* можно убрать, если вообще не хочешь ограничения */
    height: auto;
    width: auto;
    object-fit: contain;
  }

  .px-8{
    padding: 0 9rem;
  }
    