.grid-border {
    overflow: inherit;
    border-width: 1px;
    border-color: #e9ecef;
 
}

.grid-border {
    overflow: hidden;
    border-width: 1px;
    --cnvs-grid-border-color: var(--cnvs-contrast-900);
    --cnvs-grid-border-color-dark: #FFF;
   
}

.clients-grid {
    padding: 20px;
    border: 1px;
 
    border-color: rgba( 0, 0, 0 );
 
    position: relative;
    align-items: stretch;
    list-style: none;
    overflow: hidden;
}


.grid-border [class^=col-] {
    margin: calc(-1* 1px) 0 0 calc(-1* 1px);
    padding:   30px ;
    border: 1px solid #e9ecef;
}

.grid-border [class^=col-]:hover {
    border-color: #F18052;
    background-color: rgba(241, 128, 82, 0.1);
    z-index: 1;
}


.h-op-08:hover, .op-08 {
    opacity: .8 !important;
}